.card {
  width: 280px;
  height: 280px;
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
  border-radius: 2rem;
  margin: 15px;
  background-color: white;

  /* perfect center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;
  font-family: inherit;
  font-weight:bold;
  font-size: 1rem;
  margin:1rem;
  border:5px solid black;
  background: transparent;
  color: black;
}

.container{
  display: flex;
  justify-content: center;
  background-color: #212529; 
  color: white;
}

.search-bar-container {
  display: flex;
  justify-content: center;
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card:hover{
  transform: scale(1.03);
}

.card__btn{
  padding: 1rem;
  font-family: inherit;
  font-weight:bold;
  font-size: 1rem;
  margin:1rem;
  border:2px solid black;
  background: transparent;
  color: black;
}

.card__btn:hover{
  background: grey;
  color:black;
}
