.card {
  width: 280px;
  height: 280px;
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
  border-radius: 2rem;
  margin: 15px;
  background-color: white;

  /* perfect center */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container{
  display: flex;
  justify-content: center;
}

.search-bar-container {
  display: flex;
  justify-content: center;
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card__btn{
  padding: 1rem;
  font-family: inherit;
  font-weight:bold;
  font-size: 1rem;
  margin:1rem;
  border:2px solid red;
  background: transparent;
  color: red;
}



