.header {
    height: auto;
    width: auto;  
    border-radius: 5px;
    padding: 1rem;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    color: white;
}
/* Top bar layout */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers Cart Items label too */
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem; /* Adds space between Cart Items and cart content */
}

.sc-container {
    display: flex;
    justify-content: center; /* Centers the cart box horizontally */
    margin: 0 auto;
    min-height: 60vh; /* Optional: keeps it vertically balanced */
}

.sidebar{
    height: auto;
    width: 250px;
    border-radius: 5px;
    background-color: lightgray;
    margin-left: 20px;
    padding:15px;
    text-align: center;
    color: #212529;
}

.head{
    background-color: #212529;
    border-radius: 5px;
    height: 40px;
    padding: auto;
    margin-bottom:20px;
    color: white;
    display: flex;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid gray;
}

.cart p { margin: 0; display: inline; }   /* make it inline */
#count { margin-left: .35rem; font-weight: 700; }
.cart i { margin-right: .5rem; }    